/**
* Body
*/
#root{
  height: 100vh;
  width: 100vw;
}

body{
  height: 100vh;
  width: 100vw;
  background: linear-gradient(217deg, #b39bea, #abcafa, #b5cff7, #a483f0);
  background-size: 800% 800%;

  -webkit-animation: AnimationName 47s ease infinite;
    -moz-animation: AnimationName 47s ease infinite;
    animation: AnimationName 47s ease infinite
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 84%}
  50%{background-position:100% 17%}
  100%{background-position:0% 84%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 84%}
  50%{background-position:100% 17%}
  100%{background-position:0% 84%}
}
@keyframes AnimationName {
  0%{background-position:0% 84%}
  50%{background-position:100% 17%}
  100%{background-position:0% 84%}
}

/*
Calendario
*/

.calendar-container{
  background-color:  #fff;
  display: flex;
  flex-direction: column;
  min-height: max-content;
  height: calc(100vh - 100px);
  width: 100%;
  margin: auto;
  box-shadow: 0 0.5rem 1rem 0 rgba(102, 99, 99, 0.8);
  margin: 30px;
  border-radius: 5px;
  
}

.calendar-header{
  background-color:#abcafa;
}
.calendar-text > h2{
  text-transform: uppercase;
  color: #121314;
  font-weight: 400;
}
.calendar-button > button{
  text-transform: uppercase;
  color: #121314;
  font-weight: 400;
  width: fit-content;
  height: fit-content;
}

.calendar-button {
  background-color: #abcafa;
}
.calendar-sm-toolbar > button{
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 400;
  width: fit-content;
  height: fit-content;
}
/*
Cositas viejas:
*/

.login-form{
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  height: 100%;
}
.card-signin {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  box-shadow: 0 0.5rem 1rem 0 rgba(255, 255, 255, 0.1);
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.form-icon{
	text-align: center;
    background-color: #b79ced;
    border-radius: 50%;
    font-size: 40px;
    color: white;
    width: 100px;
    height: 100px;
    margin: auto;
    margin-bottom: 50px;
    line-height: 100px;
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input {
  height: auto;
  border-radius: 2rem;
}

.form-label-group>input,
.form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::placeholder {
  color: transparent;
}

.user-img{
  display: flex;
  align-items: center;
}
.user-img img{
  height:140px;
  width: 140px;
}

/*
Registro:
*/
.img-reg{
  overflow: hidden;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 260px;
  height: 100%;
  padding-top: 360px;
  background-image: url('https://wallpapercave.com/wp/wp3082483.jpg');
  background-size: cover;
}

.sign-up{
  transform: translateX(250px);
}
.cont-reg {
  overflow: hidden;
  position: relative;
  width: 900px;
  height: 700px;
  margin: 0 auto 100px;
  background: #fff;
  top: 110px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}
.motiv-reg-ph{
  font-size: 400;
  color: white;
  text-shadow: 2px 2px 4px #242323;
}
/*SIDEBAR*/

a {
  transition: background 0.2s, color 0.2s;
}
a:hover,
a:focus {
  text-decoration: none;
}

#wrapper {
  padding-left: 0;
  transition: all 0.5s ease;
  position: relative;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  overflow-x: hidden;
  background: rgba(238, 238, 238, 0.349);
  transition: all 0.5s ease;
  
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

.sidebar-brand {
  position: absolute;
  top: 0;
  width: 250px;
  text-align: center;
  padding: 20px 0;
}
.sidebar-brand h2 {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  color: rgb(0, 0, 0);
}

.sidebar-nav {
  position: absolute;
  top: 75px;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
  
}
.sidebar-nav > li {
  text-indent: 10px;
  line-height: 42px;
}
.sidebar-nav > li a {
  display: block;
  text-decoration: none;
  color: #000000;
  font-weight: 600;
  font-size: 18px;
}
.sidebar-nav > li > a:hover,
.sidebar-nav > li.active > a {
  text-decoration: none;
  color: #000000;
  background: #ffffff9d;;
}

.sidebar-nav > li > a i.fa {
  font-size: 24px;
  width: 60px;
}

#navbar-wrapper {
    width: 100%;
    position: absolute;
    z-index: 2;
}
#wrapper.toggled #navbar-wrapper {
    position: absolute;
    margin-right: -250px;
}
#navbar-wrapper .navbar {
  border-width: 0 0 0 0;
  background-color: rgba(248, 17, 17, 0);
  font-size: 24px;
  margin-bottom: 0;
  border-radius: 0;
  position: fixed;
}
#navbar-wrapper .navbar a {
  color: #757575;
}
#navbar-wrapper .navbar a:hover {
  color: rgb(0, 0, 0);
}

#content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
  top: 100px;
}
#wrapper.toggled #content-wrapper {
  position: absolute;
  margin-right: -250px;
}

@media (min-width: 992px) {
  #wrapper {
    padding-left: 250px;
  }
  
  #wrapper.toggled {
    padding-left: 60px;
  }

  #sidebar-wrapper {
    width: 250px;
    box-shadow: 0 0.5rem 1rem 0 rgba(102, 99, 99, 0.8);
  }
  
  #wrapper.toggled #sidebar-wrapper {
    width: 60px;
  }
  
  #wrapper.toggled #navbar-wrapper {
    position: absolute;
    margin-right: -190px;
}
  
  #wrapper.toggled #content-wrapper {
    position: absolute;
    margin-right: -190px;
  }

  #navbar-wrapper {
    position: relative;
  }

  #wrapper.toggled {
    padding-left: 60px;
  }

  #content-wrapper {
    position: relative;
    top: 0;
  }

  #wrapper.toggled #navbar-wrapper,
  #wrapper.toggled #content-wrapper {
    position: relative;
    margin-right: 60px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #wrapper {
    padding-left: 60px;
  }

  #sidebar-wrapper {
    width: 60px;
  }
  
#wrapper.toggled #navbar-wrapper {
    position: absolute;
    margin-right: -250px;
}
  
  #wrapper.toggled #content-wrapper {
    position: absolute;
    margin-right: -250px;
  }

  #navbar-wrapper {
    position: relative;
  }

  #wrapper.toggled {
    padding-left: 250px;
  }

  #content-wrapper {
    position: relative;
    top: 0;
  }

  #wrapper.toggled #navbar-wrapper,
  #wrapper.toggled #content-wrapper {
    position: relative;
    margin-right: 250px;
  }
}

@media (max-width: 767px) {
  #wrapper {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width: 0;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  #wrapper.toggled #navbar-wrapper {
    position: relative;
    margin-right: -250px;
  }

  #wrapper.toggled #content-wrapper {
    position: relative;
    margin-right: -250px;
  }

  #navbar-wrapper {
    position: relative;
  }

  #wrapper.toggled {
    padding-left: 250px;
  }

  #content-wrapper {
    position: relative;
    top: 0;
  }

  #wrapper.toggled #navbar-wrapper,
  #wrapper.toggled #content-wrapper {
    position: relative;
    margin-right: 250px;
  }
}


/*
Login: 
*/
.input-1, button {
  border: none;
  outline: none;
  background: none;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.wrap-background {
  background: #ededed;
}

.cont {
  overflow: hidden;
  position: relative;
  width: 900px;
  height: 550px;
  margin: 0 auto 100px;
  background: #fff;
  top: 110px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}
.form {
  position: relative;
  width: 640px;
  height: 100%;
  padding: 60px 30px 0;
}
.sub-cont {
  overflow: hidden;
  position: absolute;
  left: 640px;
  top: 0;
  width: 900px;
  height: 100%;
  padding-left: 260px;
  background: #fff;
}

button {
  display: block;
  margin: 0 auto;
  width: 260px;
  height: 36px;
  border-radius: 30px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}
.img {
  overflow: hidden;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 260px;
  height: 100%;
  padding-top: 360px;
  background-image: url('https://wallpapercave.com/wp/wp3980190.jpg');
  background-size: cover;
}

.img__text {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 50px;
  width: 100%;
  padding: 0 20px;
  text-align: center;
  color: #1f2122;
  transition: transform 1.2s ease-in-out;
}
.img__text h2 {
  margin-bottom: 10px;
  font-weight: normal;
}
.img__text p {
  font-size: 14px;
  line-height: 1.5;
}

.img__btn {
  overflow: hidden;
  z-index: 2;
  position: relative;
  width: 150px;
  height: 36px;
  margin: 0 auto;
  background: transparent;
  color: #1f2122;
  text-transform: uppercase;
  font-size: 15px;
  cursor: pointer;
  border: 2px solid #1f2122;
  border-radius: 30px;
}


.img__btn span {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: transform 1.2s;
}

h2 {
  width: 100%;
  font-size: 26px;
  text-align: center;
}
label {
  display: block;
  width: 260px;
  margin: 25px auto 0;
  text-align: center;
}
label span {
  font-size: 12px;
  color: #cfcfcf;
  text-transform: uppercase;
}
.input-2 {
  display: block;
  width: 100%;
  margin-top: 5px;
  padding-bottom: 5px;
  font-size: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  text-align: center;
}
.forgot-pass {
  margin-top: 15px;
  text-align: center;
  font-size: 12px;
  color: #cfcfcf;
}
.submit {
  margin-top: 40px;
  margin-bottom: 20px;
  background: #d4af7a;
  text-transform: uppercase;
}

.a-link-color{
  color: #1f2122;
}
.a-link-color:hover{
  color:#969696;
}




/* FOOTER */

.site-footer
{
  background-color:#ededed;
  padding:45px 0 20px;
  font-size:15px;
  font-weight: lighter;
  line-height:24px;
  color:#5d5966;
}
.line{
  border-style: solid;
  border-top-color: #835496;
  border-right-color: #ededed;
  border-left-color: #ededed;
  border-bottom-color: #ededed;
  border-width: 2px;
  line-height: 50px;
}

.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:rgb(107, 64, 124);
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#000000;
}
.site-footer a:hover
{
  color:#8f64a1;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  font-weight: normal;
  color:#000000
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#835496;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#006cfa;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

.outside-footer
{
  background-color: rgb(182, 182, 214);
  padding:45px 0 20px;
  font-size:15px;
  font-weight: lighter;
  line-height:24px;
  color:#000000;
}

.lineOutside{
  border-style: solid;
  border-top-color: #ededed;
  border-right-color: rgb(182, 182, 214);
  border-left-color: rgb(182, 182, 214);
  border-bottom-color: rgb(182, 182, 214);
  border-width: 2px;
  line-height: 70px;
}

.outsite-footer h6
{
  color:rgb(107, 64, 124);
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}

.lineOutside a{
  font-weight: normal;
  color: black;
}

.lineOutside a:hover, a:active{
  color:#ededed;
  text-decoration:none;
}

.outfooter-links
{
  padding-left:0;
  list-style:none
}
.outfooter-links li
{
  display:block
}
.outfooter-links a
{
  font-weight: normal;
  color:#000000
}
.outfooter-links a:active,.outfooter-links a:focus,.outfooter-links a:hover
{
  color:#ededed;
  text-decoration:none;
}
.outfooter-links.inline li
{
  display:inline-block
}

